# Operating System Files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
vvenv/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
*.log
debug/

# Local files
*.local
*.bak
debug.py
